*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    font-family: monospace;
    color:darkred;
    
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.pantalla{
    position:relative;
    width:900px;
    height: 600px;
 
    margin-top:.2em;
    text-align:center;
    font-size: 3em;
    vertical-align: center;
    border-image:url()
}
.pantalla{
 
    border: 3rem solid transparent;
    border-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E    %0A    %3Ccircle r='50%25' cx='50%25' cy='50%25' fill='crimson'/%3E%0A    %3Ccircle r='45%25' cx='50%25' cy='50%25' fill='orangered'/%3E%0A    %3Ccircle r='40%25' cx='50%25' cy='50%25' fill='gold'/%3E%0A    %3Ccircle r='35%25' cx='50%25' cy='50%25' fill='darkturquoise'/%3E%0A    %3Ccircle r='30%25' cx='50%25' cy='50%25' fill='teal'/%3E%0A    %3Ccircle r='25%25' cx='50%25' cy='50%25' fill='tomato'/%3E%0A%3C/svg%3E") 33% fill;
    border-image-repeat: round;
    overflow:hidden;

}
#pantalla1{
    background-image:url(nina-tomando-un-bano.png),url('ninabailando.png');
    background-size: 50%,25%;
    background-position: bottom right, top center;
    background-repeat: no-repeat,no-repeat;
}
#pantalla5 h2{
    margin-top: 2em;
}
button{
     font-family: monospace;
    font-size:1em;
    background-color:orangered;
    color:white;
    padding:.2em;
    border-radius: .5em;
    transition-duration: 0.4s;
    margin-top:1em;
    padding:.5em;
}
#pantalla2 button{
    margin:12px auto;
}
ul{
    list-style: none;
}
button:hover{
    box-shadow:0px 2px 10px 5px #97B1BF;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 1.2em;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  background-color: #bbb;
}

.copy{
    color:whitesmoke;
}

#capitan{
    
    background-image: url('capitan.png');
    background-size: contain;
    position:absolute;
    width:200px;
    height: 200px;
    bottom:0;
    left:0;
    animation-name: anicapitan;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anicapitan{
    from{
        
      bottom:0;
    left:-300px;  
    } to{
        bottom:0;
    left:300px;
        
    }
}
#capitanoff{
    
    background-image: url('capitan.png');
    background-size: contain;
    position:absolute;
    width:200px;
    height: 200px;
    bottom:0;
    left:300px;
    animation-name: anicapitanoff;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anicapitanoff{
    from{
        
      bottom:0;
    left:300px;  
    } to{
        bottom:0;
    left:-300px;
        
    }
}

#marcador{
    margin-top:.5em;
      display: flex;
    justify-content:  space-around;
    color:#333;
    
}
#marcador div{
  background-color: whitesmoke;
    margin: 0 .2em;
    text-align:center;
    border-bottom:solid 3px tomato;
    font-size:1.2em;
}










